<%= render "shared/visiter_header" %>

<div class="main">
  <div class="first-view">
    <%= image_tag "home.jpg", class:"home-img" %>
    <div class="contents">
      <div class="main-content">
        <div class="main-message">Premium Surfing Guide</div>
        <div class="sub-message">ローカルサーファーと繋がろう</div>
      </div>
      <div class="link-btn">
        <div class="link-content">
          <%= link_to "サービスを見る", "hoge" %>
        </div>
      </div>
    </div>
  </div>
</div>